nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}
.page_title{
    margin-bottom:20px;
}
main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
 main .container{

     display:flex;
     flex-direction:column;
     justify-content:center;
 }

 #select{
    width: 210px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    border-radius:5px;
    height: 40px;
    line-height: 38px;
    font-family: sans-serif;
    color: #515151;
    font-size: 16px;
    background: transparent;
    margin-bottom:25px;
 }
 #button_perfil{
     height:30px;
 }