{% extends "layout.html" %}

{% block title %}
    Buy shares
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <select name="symbol"  id="select">
        <option disabled selected value="choose a symbol">Choose a symbol </option>
        {%for symbol in symbols%}
         <option value="{{symbol}}">{{symbol}}</option>
         {% endfor%}
    </select>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="number" placeholder="Number" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
